body{
  background-color: aliceblue;
  display: flexbox;
}

/* tags */
/* headers */
h1{
  color: black;
  font-size: large;
  line-height: normal;
  font-weight: 500;
  font-family: sans-serif;
  transform: uppercase;
  text-transform: uppercase;
}

/* paragraphs */
p{
  color: black;
  font-size: medium;
  font-weight: 300;
  font-family: sans-serif;
}

/* links */
a{
  color: blue;
  transition: ease;
  transition-delay: 2s;
  text-transform: capitalize;
}


